.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/mockaroon-YqUeLG7fMr4-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 360px;
  margin: 121px auto 0;
}

.u-section-1 .u-form-1 {
  height: 81px;
  margin: 27px 0 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-input-2 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-input-4 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-input-5 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-input-6 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-input-7 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-1 .u-table-1 {
  margin: 13px auto 0 0;
}

.u-block-3c09-49 {
  background-image: none;
  font-size: 0.75rem;
  font-weight: 400;
}

.u-block-3c09-46 {
  border-style: solid;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.875rem;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 0.875rem;
}

.u-section-1 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  font-size: 0.875rem;
  font-weight: 400;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
}

.u-section-1 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
}

.u-section-1 .u-table-cell-18 {
  font-weight: 700;
  font-size: 1.5rem;
  border-style: solid;
}

.u-section-1 .u-table-cell-19 {
  border-style: solid;
}

.u-section-1 .u-table-cell-20 {
  border-style: solid;
}

.u-section-1 .u-table-cell-21 {
  border-style: solid;
}

.u-section-1 .u-table-cell-22 {
  border-style: solid;
}

.u-section-1 .u-table-cell-23 {
  border-style: solid;
}

.u-section-1 .u-table-cell-24 {
  border-style: solid;
}

.u-section-1 .u-table-cell-25 {
  border-style: solid;
}

.u-section-1 .u-table-cell-26 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-27 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-28 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-29 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-30 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-31 {
  border-style: solid;
}

.u-section-1 .u-table-cell-32 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-33 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-34 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-35 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-section-1 .u-table-cell-36 {
  font-size: 2.25rem;
  line-height: 1;
  border-style: solid;
}

.u-block-3c09-35 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 27px auto 0 0;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    height: 77px;
    margin-top: -37px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -153px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-1 {
    margin-top: -142px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -28px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-1 {
    margin-top: -151px;
    margin-right: initial;
    margin-left: initial;
  }
}