.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("../images/peter-broomfield-m3m-lnR90uM-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 164px 329px 0 -215px;
}

.u-section-1 .u-text-2 {
  margin: 252px 368px 0 -368px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 17px auto 60px 178px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 177px;
    margin-right: 233px;
    margin-left: -119px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 443px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
    margin-left: 190px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 110px;
    margin-left: 0;
    margin-right: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 430px;
  }
}.u-section-2 {
  background-image: url("../images/wordpress-auto-repair-slider-updraft-pre-smush-original.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-weight: bold;
  font-size: 3rem;
  margin: 108px 700px 0 0;
}

.u-section-2 .u-gallery-1 {
  height: 190px;
  width: 1088px;
  margin: 310px auto 60px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
}

.u-section-2 .u-gallery-item-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-1 {
  width: 267px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-2 {
  width: 267px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-3 {
  width: 267px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-4 {
  width: 267px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-5 {
  width: 267px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-6 {
  width: 267px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-7 {
  width: 267px;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.u-section-2 .u-back-image-8 {
  width: 267px;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 500px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 238px;
    height: 226px;
    width: 940px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-gap: 10px 10px;
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 280px;
  }

  .u-section-2 .u-gallery-1 {
    margin-bottom: 0;
    height: 692px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 100px;
  }

  .u-section-2 .u-gallery-1 {
    height: 2076px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 267px;
    height: 1307px;
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 100vh;
}

.u-section-3 .u-shape-1 {
  height: 315px;
  margin-top: 252px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-image-1 {
  width: 376px;
  height: 376px;
  background-image: url("../images/cv.jpg");
  background-position: 50% 12.78%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -507px auto 0 192px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  font-size: 3.75rem;
  text-transform: uppercase;
  font-weight: 900;
  margin: 35px 80px 0;
}

.u-section-3 .u-image-2 {
  width: 376px;
  height: 376px;
  background-image: url("../images/dimitar.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -477px auto 0 732px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 166px 355px 0 -195px;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -43px -195px 60px 355px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: 115px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: 549px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 164px;
    margin-right: 217px;
    margin-left: -217px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -217px;
    margin-left: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-2 {
    margin-left: 344px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-2 {
    margin-left: 164px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 657px;
  }

  .u-section-3 .u-shape-1 {
    height: 226px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 50px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-left: 50px;
  }
}