<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>SmartGarage</title>
    <link rel="stylesheet" media="screen"
          href="../static/css/nicepage.css" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" media="screen"
          href="../static/css/index.css" th:href="@{/css/index.css}">
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script class="u-script" type="text/javascript" defer=""
            src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link rel="icon" href="../static/images/favicon.jpg" th:href="@{/images/favicon.jpg}">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Smart Garage",
        "url": "index.html",
        "logo": "../static/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
    }</script>
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#e1db06">
    <link rel="canonical" href="index.html" th:href="@{/templates/index.html}">
    <meta property="og:url" content="index.html">
</head>
<body data-home-page="index.html" data-home-page-title="index"
      class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
<header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-fe27">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="710" data-image-height="706"
           th:href="@{/}">
            <img src="../static/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
                 class="u-logo-image u-logo-image-1" data-image-width="64"
                 th:src="@{/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg}">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-border-radius u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              href="index.html#sec-eb2d" data-page-id="478917141"
                                              style="padding: 10px 20px;">ABOUT</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null && !currentUser.hasRights()}">PROFILE</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null}"
                                              th:href="@{/services/report}">REPORTS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/users}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">USERS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/vehicles}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VEHICLES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/visits}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VISITS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/services}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">SERVICES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/login}"
                                              th:if="${currentUser == null}">LOG IN</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/logout}"
                                              th:if="${currentUser != null}">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_c016" data-image-width="5357"
         data-image-height="3164">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-palette-1-base u-title u-text-1">Smart Garage</h1>
        <h2 class="u-text u-text-palette-1-base u-text-2">It brakes... we fix it! </h2><span
            class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg class="u-svg-link"
                                                                             preserveAspectRatio="xMidYMin slice"
                                                                             viewBox="0 0 480.026 480.026" style=""><use
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5092"></use></svg><svg class="u-svg-content"
                                                                                               viewBox="0 0 480.026 480.026"
                                                                                               x="0px" y="0px"
                                                                                               id="svg-5092"
                                                                                               style="enable-background:new 0 0 480.026 480.026;"><g><g><path
            d="M475.922,229.325l-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304,0-12.032,3.712-14.624,9.472    c-2.56,5.792-1.504,12.544,2.72,17.216l134.368,149.312l-134.368,149.28c-4.224,4.704-5.312,11.456-2.72,17.216    c2.592,5.792,8.32,9.504,14.624,9.504h96c4.544,0,8.832-1.952,11.904-5.28l144-160    C481.394,244.653,481.394,235.373,475.922,229.325z"></path>
</g>
</g><g><g><path
            d="M267.922,229.325l-144-160c-3.072-3.392-7.36-5.312-11.904-5.312h-96c-6.304,0-12.032,3.712-14.624,9.472    c-2.56,5.792-1.504,12.544,2.72,17.216l134.368,149.312L4.114,389.293c-4.224,4.704-5.312,11.456-2.72,17.216    c2.592,5.792,8.32,9.504,14.624,9.504h96c4.544,0,8.832-1.952,11.904-5.28l144-160    C273.394,244.653,273.394,235.373,267.922,229.325z"></path>
</g>
</g></svg></span>
    </div>
</section>
<section class="u-clearfix u-image u-section-2" id="sec-eb2d" data-image-width="1600" data-image-height="998">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-1 u-text-color-1-base">OFFERED SERVICES </h3>
        <div class="u-gallery u-layout-horizontal u-lightbox u-no-transition u-show-text-on-hover u-width-fixed u-gallery-1">
            <div class="u-gallery-inner u-gallery-inner-1">
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-1"
                     data-image-width="1200" data-image-height="732">
                    <div class="u-back-slide" data-image-width="2717" data-image-height="1772"><img
                            class="u-back-image u-back-image-1"
                            th:src="@{https://english.avtoikonom.bg/wp-content/uploads/2017/03/oil.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-1"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-2">
                    <div class="u-back-slide" data-image-width="720" data-image-height="342"><img
                            class="u-back-image u-back-image-2"
                            th:src="@{http://thegarageba.com/wp-content/uploads/The-Truth-about-Brake-Fluid-Changes-01.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-2"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-3">
                    <div class="u-back-slide" data-image-width="1170" data-image-height="780"><img
                            class="u-back-image u-back-image-3"
                            th:src="@{https://images.cars.com/cldstatic/wp-content/uploads/1357097375-1426617987885.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-3"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-4">
                    <div class="u-back-slide" data-image-width="2508" data-image-height="1672"><img
                            class="u-back-image u-back-image-4"
                            th:src="@{https://autoprotn.com/images/46062486_l.jpg?crc=3987992998}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-4"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-5">
                    <div class="u-back-slide" data-image-width="800" data-image-height="500"><img
                            class="u-back-image u-back-image-5"
                            th:src="@{https://www.nuneatonbargaintyres.co.uk/catalog/view/theme/default/image/suspension01.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-5"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-6">
                    <div class="u-back-slide" data-image-width="3000" data-image-height="2400"><img
                            class="u-back-image u-back-image-6"
                            th:src="@{https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/2020-chevrolet-corvette-lt2-engine-001-1582310258.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-6"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-7">
                    <div class="u-back-slide" data-image-width="1300" data-image-height="1300"><img
                            class="u-back-image u-back-image-7"
                            th:src="@{https://previews.123rf.com/images/eldoctore/eldoctore1209/eldoctore120900008/15251596-brake-disc-and-red-calliper-from-a-racing-car-isolated-on-white-background.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-7"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
                <div class="u-border-2 u-border-palette-1-base u-effect-fade u-gallery-item u-radius-50 u-shape-round u-gallery-item-8">
                    <div class="u-back-slide" data-image-width="1368" data-image-height="628"><img
                            class="u-back-image u-back-image-8"
                            th:src="@{https://www.luxurylifestylemag.co.uk/wp-content/uploads/2020/05/bigstock-131693096-1.jpg}">
                    </div>
                    <div class="u-over-slide u-shading u-over-slide-8"><h3 class="u-gallery-heading"></h3>
                        <p class="u-gallery-text"></p>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1"
               href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2"
               href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            </a>
        </div>
    </div>
</section>
<section class="u-align-center u-black u-clearfix u-section-3" id="carousel_e606">
    <div class="u-expanded-width u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
    <div alt="" class="u-image u-image-circle u-image-1" data-image-width="413" data-image-height="531"></div>
    <h2 class="u-text u-text-1"><b style="">developed by</b>
    </h2>
    <div alt="" class="u-image u-image-circle u-image-2" data-image-width="4104" data-image-height="2944"></div>
    <h4 class="u-text u-text-2">IVELIN MURDZHEV</h4>
    <h4 class="u-text u-text-3">DIMITAR SIMEONOV</h4>
</section>


<footer class="u-align-center u-clearfix u-footer u-grey-60 u-footer" id="sec-2012">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">CONTACT US:<br>
            <br>Bulgaria<br>+359 88 8888888<br>smart.garage.a25@gmail.com<br>
        </p>
    </div>
</footer>
<span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px"
      class="u-back-to-top u-icon u-icon-rounded u-opacity u-opacity-85 u-palette-1-base u-spacing-10" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13"
             xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path
                d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>
</body>
</html>