<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css"
      rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/css/form.css"
      rel="stylesheet" th:href="@{/css/form.css}">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link href="../static/css/bootstrap.css"
        rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet">
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header text-center">
          <h3>Create Vehicle</h3>

        </div>
        <div class="card-body">
          <form th:action="@{/models/create}" method="post" th:object="${modelDto}">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-car-alt"></i></span>
              </div>
              <input type="text"
                     class="form-control"
                     placeholder="Model name"
                     required
                     autofocus
                     th:field="*{name}">
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-car-alt"></i></span>
              </div>
              <input type="text"
                     class="form-control"
                     placeholder="Manufacturer name"
                     required
                     autofocus
                     th:field="*{manufacturerDto.name}">
            </div>

            <div class="form-group u-align-right align-content-center" th:align="center">
              <input type="submit" value="CREATE" class="btn float-right login_btn"
                     placeholder="CREATE MODEL">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</head>
</body>
</html>