<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found</title>
  <link href="../static/css/not-found.css"
        rel="stylesheet" th:href="@{css/not-found.css}">
</head>
<body>
<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 ">
        <div class="col-sm-10 col-sm-offset-1  text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center ">404</h1>


          </div>

          <div class="contant_box_404">
            <h3 class="h2">
              Look like you're lost
            </h3>

            <p>the page you are looking for not avaible!</p>

            <a href="index.html" class="link_404" th:text="#{error.not-found}">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>

