<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link href="../static/css/bootstrap.css"
        rel="stylesheet" th:href="@{css/bootstrap.css}">
  <link href="../static/css/form.css" th:href="@{css/form.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Generate Report</h3>

      </div>
      <div class="card-body">
        <form th:action="@{/services/report}" method="post" th:object="${vfp}">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-car"></i></span>
            </div>
            <input type="number"
                   class="form-control"
                   placeholder="Vehicle id"
                   required
                   autofocus
                   th:field="*{vehicleId}">

          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-car"></i></span>
            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Registration plate"
                   required
                   autofocus
                   th:field="*{registrationPlate}">

          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input type="date"
                   class="form-control"
                   placeholder="Begin date"
                   required
                   autofocus
                   th:field="*{beginDate}">

          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input type="date"
                   class="form-control"
                   placeholder="End date"
                   required
                   autofocus
                   th:field="*{endDate}">

          </div>

          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Currency"
                   required
                   autofocus
                   th:field="*{currency}">
          </div>

          <div class="form-group">
            <input type="submit" value="Send" class="btn float-right login_btn">
          </div>
        </form>
      </div>
      <div class="col-lg-6 col-xl-6 mx-auto flex-row my-6">
        <button class="btn btn-lg btn-primary_ btn-block" type="Submit"
                th:href="@{/services/download}">Save?
        </button>
      </div>
    </div>
  </div>
</div>
</body>
</html>