<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="users, Boost your brand with these key features">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Users</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.css" media="screen" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/browse.css" media="screen" th:href="@{/css/browse.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link rel="icon" href="../static/images/favicon.jpg" th:href="@{/images/favicon.png}">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Smart Garage",
        "url": "index.html",
        "logo": "images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
    }</script>
    <meta property="og:title" content="users">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#e1db06">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
<header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-fe27">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="710" data-image-height="706"
           th:href="@{/}">
            <img src="../static/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
                 class="u-logo-image u-logo-image-1" data-image-width="64"
                 th:src="@{/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg}">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-border-radius u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null && !currentUser.hasRights()}">PROFILE</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null}"
                                              th:href="@{/services/report}">REPORTS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/users}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">USERS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/vehicles}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VEHICLES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/visits}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VISITS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/services}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">SERVICES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/login}"
                                              th:if="${currentUser == null}">LOG IN</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/logout}"
                                              th:if="${currentUser != null}">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_bd41" data-image-width="6000"
         data-image-height="4000">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-palette-1-base u-text-1">USERS<br>
        </h1>
        <!--        <div class="u-expanded-width u-form u-form-1">-->
        <!--            <form th:object="${ufp}" method="post"-->
        <!--                  class="u-clearfix u-form-horizontal u-form-spacing-11 u-inner-form"-->
        <!--                  style="padding: 16px;" source="custom"-->
        <!--                  th:action="@{/users/search}">-->
        <!--                <div class="u-form-group u-form-name u-form-group-1">-->
        <!--                    <label for="name-80e1" class="u-form-control-hidden u-label u-text-body-color">FIRST NAME</label>-->
        <!--                    <input type="text" placeholder="First name" id="name-80e1" name="name-1"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-1"-->
        <!--                           th:field="*{firstName}">-->
        <!--                </div>-->
        <!--                <div class="u-form-group u-form-name u-form-group-2">-->
        <!--                    <label for="name-28fd" class="u-form-control-hidden u-label u-text-body-color">LAST NAME</label>-->
        <!--                    <input type="text" placeholder="Last name" id="name-28fd" name="name-2"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-2"-->
        <!--                           th:field="*{lastName}">-->
        <!--                </div>-->
        <!--                <div class="u-form-group u-form-phone u-form-group-4">-->
        <!--                    <label for="phone-b121" class="u-form-control-hidden u-label u-text-body-color">Phone</label>-->
        <!--                    <input type="text" placeholder="Phone" id="phone-b121" name="phone"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-4"-->
        <!--                           th:field="*{phoneNumber}">-->
        <!--                </div>-->
        <!--                <div class="u-form-email u-form-group">-->
        <!--                    <label for="email-558c" class="u-form-control-hidden u-label u-text-body-color">Email</label>-->
        <!--                    <input type="text" placeholder="Email" id="email-558c" name="email"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-3"-->
        <!--                           th:field="*{email}">-->
        <!--                </div>-->
        <!--                <div class="u-form-group u-form-select u-form-group-5">-->
        <!--                    <label for="select-4cc2" class="u-form-control-hidden u-label u-text-body-color"></label>-->
        <!--                    <div class="u-form-select-wrapper">-->
        <!--                        <select id="select-4cc2" name="select"-->
        <!--                                class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-5"-->
        <!--                                th:field="*{vehicleModelId}">-->
        <!--                            <option selected value="-1">Any</option>-->
        <!--                            <option th:each="model : ${allModels}"-->
        <!--                                    th:value="${model.id}"-->
        <!--                                    th:text="${model.name} + '/' + ${model.manufacturer.name}">Model ID-->
        <!--                            </option>-->
        <!--                        </select>-->
        <!--                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret">-->
        <!--                            <path fill="currentColor" d="M4 8L0 4h8z"></path>-->
        <!--                        </svg>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="u-form-date u-form-group u-form-group-6">-->
        <!--                    <label for="date-b1f0" class="u-form-control-hidden u-label u-text-body-color">Begin date</label>-->
        <!--                    <input type="text" placeholder="" id="date-b1f0" name="date"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-6"-->
        <!--                           th:field="*{beginDate}">-->
        <!--                </div>-->
        <!--                <div class="u-form-date u-form-group u-form-group-7">-->
        <!--                    <label for="date-1262" class="u-form-control-hidden u-label u-text-body-color">End date</label>-->
        <!--                    <input type="text" placeholder="" id="date-1262" name="date-1"-->
        <!--                           class="u-border-1 u-border-black u-input u-input-rectangle u-palette-2-light-3 u-radius-7 u-input-7"-->
        <!--                           th:field="*{endDate}">-->
        <!--                </div>-->
        <!--                <div class="u-form-group u-form-submit">-->
        <!--                    <a href="#"-->
        <!--                       class="u-btn u-btn-round u-btn-submit u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-radius-50 u-btn-1">FILTER<br>-->
        <!--                    </a>-->
        <!--                    <input type="submit" value="submit" class="u-form-control-hidden">-->
        <!--                </div>-->
        <!--                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>-->
        <!--                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then-->
        <!--                    try again.-->
        <!--                </div>-->
        <!--                <input type="hidden" value="" name="recaptchaResponse">-->
        <!--            </form>-->
        <!--        </div>-->
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="wh-table sortable u-table-entity u-table-entity-1" id="myTable">
                <colgroup>
                    <col width="5.5%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <div class="input-group mb-3 col-5">
                    <input class="form-control" type="text" id="myInputForSearch" onkeyup="myFunctionFilter()"
                           placeholder="Search..."
                           title="Type in a name">
                </div>
                <thead class="u-align-center u-grey-5 u-table-header u-table-header-1">
                <tr style="height: 26px;">
                    <th class="u-align-center u-border-2 u-border-black u-table-cell u-table-cell-1">ID</th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>FIRST NAME</b>
                    </th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>LAST NAME</b>
                    </th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>PHONE</b>
                        <br>
                    </th>
                    <th class="u-border-2 u-border-black u-table-cell u-table-cell-5">EMAIL</th>
                    <th class="u-border-2 u-border-black u-table-cell u-table-cell-6">OPERATIONS</th>
                </tr>
                </thead>
                <tbody class="u-align-center u-gradient u-table-body u-table-body-1"
                       th:each="user : ${users}">
                <tr style="height: 66px;">
                    <td class="u-align-center u-border-2 u-border-black u-table-cell u-table-cell-1"
                        th:text="${user.id}">ID
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${user.firstName}"><b>FIRST NAME</b>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${user.lastName}"><b>LAST NAME</b>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${user.phoneNumber}"><b>PHONE</b>
                        <br>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell u-table-cell-5" th:text="${user.email}">
                        EMAIL
                    </td>
                    <td class="text-center u-border-2 u-border-black u-table-cell">
                        <a class='btn btn-outline-light btn-xs'
                           th:href="@{/users/{id}/update(id=${user.getId()})}">
                            <span class="glyphicon glyphicon-edit"></span>Edit</a>
                        <a class="btn btn-outline-light btn-xs"
                           th:href="@{/users/{id}/delete(id=${user.getId()})}">
                            <span class="glyphicon glyphicon-remove"></span>Del</a>
                    </td>
                </tbody>
            </table>
        </div>
        <a href="#" th:href="@{/users/create}"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1">CREATE</a>
    </div>
</section>
<script>
    function myFunctionFilter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputForSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            // Hide the row initially.
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                if (cell) {
                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>
</body>
</html>