<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css"
      rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/css/form.css"
      rel="stylesheet" th:href="@{/css/form.css}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="../static/css/bootstrap.css"
          rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Update profile</h3>

                </div>
                <div class="card-body">
                    <form th:action="@{/users/{id}/update(id=${currentUser.getId()})}" method="post" th:object="${userDto}">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="First name"
                                   required
                                   autofocus
                                   th:field="*{firstName}">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Last name"
                                   required
                                   autofocus
                                   th:field="*{lastName}">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            </div>
                            <input type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   required
                                   autofocus
                                   th:field="*{email}">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Phone number"
                                   required
                                   autofocus
                                   th:field="*{phoneNumber}">
                        </div>
                        <div class="form-group" th:align="center">
                            <input type="submit" value="UPDATE" class="btn float-right login_btn"
                                   placeholder="Update profile">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</head>
</body>
</html>