<!DOCTYPE html>
<html style="font-size: 16px;" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="users, Boost your brand with these key features">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>VEHICLES</title>
    <link rel="stylesheet" href="../static/css/nicepage.css" media="screen" th:href="@{/css/nicepage.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.css" media="screen" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/browse.css" media="screen" th:href="@{/css/browse.css}">
    <script class="u-script" type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"
            defer=""></script>
    <script class="u-script" type="text/javascript" src="../static/js/nicepage.js" th:src="@{/js/nicepage.js}"
            defer=""></script>
    <meta name="generator" content="Nicepage 3.12.1, nicepage.com">
    <link rel="icon" href="../static/images/favicon.jpg" th:href="@{/images/favicon.png}">

    <script type="application/ld+json">{
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Smart Garage",
        "url": "index.html",
        "logo": "images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
    }</script>
    <meta property="og:title" content="users">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#e1db06">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
</head>
<body class="u-body u-overlap u-overlap-contrast u-overlap-transparent">
<header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-fe27">
    <div class="u-clearfix u-sheet u-sheet-1">
        <a class="u-image u-logo u-image-1" data-image-width="710" data-image-height="706"
           th:href="@{/}">
            <img src="../static/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg"
                 class="u-logo-image u-logo-image-1" data-image-width="64"
                 th:src="@{/images/depositphotos_79935768-stock-illustration-screwdriver-technical-repair-service-logo.jpg}">
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
            <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
                <a class="u-button-style u-custom-border-radius u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                   href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
                    </svg>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;">
                                <rect y="1" width="16" height="2"></rect>
                                <rect y="7" width="16" height="2"></rect>
                                <rect y="13" width="16" height="2"></rect>
                            </symbol>
                        </defs>
                    </svg>
                </a>
            </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null && !currentUser.hasRights()}">PROFILE</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:if="${currentUser != null}"
                                              th:href="@{/services/report}">REPORTS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/users}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">USERS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/vehicles}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VEHICLES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/visits}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">VISITS</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/services}"
                                              th:if="${currentUser != null && currentUser.hasRights()}">SERVICES</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/login}"
                                              th:if="${currentUser == null}">LOG IN</a>
                    </li>
                    <li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-1-base u-radius-50"
                                              style="padding: 10px 20px;"
                                              th:href="@{/logout}"
                                              th:if="${currentUser != null}">LOG OUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_bd41" data-image-width="5016"
         data-image-height="3343">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-palette-1-base u-text-1">VEHICLES<br>
        </h1>

        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="wh-table sortable u-table-entity " id="myTable">
                <colgroup>
                    <col width="5.5%">
                    <col width="15.0%">
                    <col width="15.0%">
                    <col width="15.0%">
                    <col width="15.0%">
                    <col width="15.0%">
                </colgroup>
                <div class="input-group mb-3 col-5">
                    <input class="form-control" type="text" id="myInputForSearch" onkeyup="myFunctionFilter()" placeholder="Search.."
                           title="Type in a name">
                </div>

                <thead class="u-align-center u-grey-5 u-table-header u-table-header-1">
                <tr style="height: 66px;">
                    <th class="u-align-center u-border-2 u-border-black u-table-cell u-table-cell-1">ID</th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>REGISTRATION PLATE</b></th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>VIN</b></th>
                    <th class="u-border-2 u-border-black u-table-cell"><b>YEAR</b><br></th>
                    <th class="u-border-2 u-border-black u-table-cell u-table-cell-5">MODEL</th>
                    <th class="u-border-2 u-border-black u-table-cell u-table-cell-5">OWNER EMAIL</th>
                    <th class="u-border-2 u-border-black u-table-cell u-table-cell-6">OPERATIONS</th>
                </tr>
                </thead>
                <tbody class="u-align-center u-gradient u-border-black u-table-body u-table-body-1"
                       th:each="vehicle : ${vehicles}">
                <tr style="height: 66px;">
                    <td class="u-align-center u-border-2 u-border-black u-table-cell u-table-cell-1"
                        th:text="${vehicle.id}">ID
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${vehicle.registrationPlate}"><b>REGISTRATION PLATE</b>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${vehicle.vin}"><b>VIN</b>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell"
                        th:text="${vehicle.year}"><b>YEAR</b>
                        <br>
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell u-table-cell-5"
                        th:text="${vehicle.model.name} + ' / '+ ${vehicle.model.manufacturer.name}">
                        MODEL
                    </td>
                    <td class="u-border-2 u-border-black u-table-cell u-table-cell-5"
                        th:text="${vehicle.user.email}">
                        OWNER
                    </td>
                    <td class="text-center u-border-2 u-border-black u-table-cell">
                        <a class='btn btn-outline-light btn-xs'
                           th:href="@{/vehicles/{id}/update(id=${vehicle.getId()})}">
                            <span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-outline-light btn-xs"
                           th:href="@{/vehicles/{id}/delete(id=${vehicle.getId()})}">
                            <span class="glyphicon glyphicon-remove"></span> Del</a>
                    </td>
                </tbody>
            </table>
        </div>
        <a href="#" th:href="@{/vehicles/create}"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-6 u-btn-1">CREATE</a>
    </div>
</section>
<script>
    function myFunctionFilter() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInputForSearch");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            // Hide the row initially.
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            for (var j = 0; j < td.length; j++) {
                cell = tr[i].getElementsByTagName("td")[j];
                if (cell) {
                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    }
</script>
</body>
</html>