<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/bootstrap.css"
      rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link href="../static/css/form.css"
      rel="stylesheet" th:href="@{/css/form.css}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link href="../static/css/bootstrap.css"
          rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/form.css" th:href="@{/css/form.css}" rel="stylesheet">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Update Visit</h3>

                </div>
                <div class="card-body">
                    <form th:action="@{/visits/{id}/update(id=${visitToUpdate.getId()})}" method="post" th:object="${visitDto}">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="date"
                                   class="form-control"
                                   placeholder="Begin date"
                                   required
                                   autofocus
                                   th:field="*{beginDate}">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <input type="date"
                                   class="form-control"
                                   placeholder="End date"
                                   required
                                   autofocus
                                   th:field="*{endDate}">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-arrow-alt-circle-down"></i></span>
                            </div>
                            <div class="dropdown">
                                <select class="form-select"
                                        type="number"
                                        multiple
                                        required
                                        autofocus
                                        th:field="*{offeredServicesIds}">
                                    <option th:each="service : ${services}"
                                            th:value="${service.id}"
                                            th:text="${service.name}+ ' / '+ ${service.price}">Service
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-car"></i></span>
                            </div>
                            <div class="dropdown">
                                <select class="form-select"
                                        required
                                        autofocus
                                        th:field="*{vehicleId}">
                                    <option th:each="vehicle : ${vehicles}"
                                            th:value="${vehicle.id}"
                                            th:text="${vehicle.registrationPlate}">Vehicle
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group u-align-right align-content-center" th:align="center">
                            <input type="submit" value="UPDATE" class="btn float-right login_btn"
                                   placeholder="UPDATE VISIT">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</head>
</body>
</html>